<div class="card bg-dark">
  <div class="card-body">
    <form class="form-signin" method="post">
      <img class="displayed" src="assets/images/logo.png" alt="logo" width="100" height="100">
      <hr>
      <p class="h5 text-center text-muted mb-4">Efetue seu login</p>
      <br>
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <label for="orangeForm-email">Login</label>
        <input type="text" id="orangeForm-email" class="form-control" name="email">
      </div>
      <br>
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <label for="orangeForm-pass">Senha</label>
        <input type="password" id="orangeForm-pass" class="form-control" name="passwd">
      </div>

      <p>

      </p>

      <div class="text-center">
        <button class=" btn btn-primary btn-block">Entrar</button>
      </div>
      <small class="text-center text-muted">Entre com Login "teste" e a Senha "teste123"</small>
    </form>
  </div>
</div>