<nav class="col-md-2 d-none d-md-block dark sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">

            <!-- <li class="row nav-item bg-dark">
                  <a class="nav-link active" href="#">
                      <br>
                      <img src="assets/images/perfil.png" width="50" height="50" class="img-fluid" id="perfil" alt="Administrador">
                      <span class="sr-only"></span>
                     
                  </a>
              </li>
          <br>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#Modal" href="#">
                      <span data-feather="file"></span>
                      Cadastro
                  </a>
              </li>
              <br>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#Checkout" href="#">
                      <span data-feather="file"></span>
                      Checkout
                  </a>
              </li>-->

            <li class="row nav-item bg-dark">
                <a class="nav-link active" href="/login">
                    <br>
                    <img src="assets/images/avatar.png" width="50" height="50" id="perfil" class="img-responsive" alt="Admin">
                    <span class="sr-only"></span>
                    Admin
                </a>
            </li>
            <br>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/login">
                    <span data-feather="users"></span>
                    Login
                </a>
            </li>

            <!--<li class="nav-item ">
                <a class="nav-link" routerLink="/about">
                    About
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="/home">
                    Home
                </a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/cadastro">
                    <span data-feather="file"></span>
                    Cadastro
                </a>
            </li>
           <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/estoque">
                    <span data-feather="shopping-cart"></span>
                    Estoque
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/venda">
                    <span data-feather="users"></span>
                    Venda
                </a>
            </li>-->
        </ul>
    </div>
</nav>