<div *ngIf="cadastro" class="modal fade bd-modal-lg" id="Detalhe" tabindex="-1" role="dialog" aria-labelledby="white" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="form">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title col-sm-12 ">{{cadastro.nome}}</h1>
          </div>
          <div class="modal-body">
              <form name="cadastroForm" method="get" action=".">
                  <div class="row">
                      <div class="col-8">
                          <label class="for">Nome</label>
                          <input [(ngModel)]="cadastro.name" name="nome" id="nome" type="text" class="form-control" required  ng-minlength="5"
                              placeholder="*Nome">
                      </div>
                      <div class="col-4">
                          <label class="for">CEP</label>
                          <input [(ngModel)]="cadastro.cep" name="cep" id="cep" value="" size="10" maxlength="9" class="form-control" type="text" placeholder="*Digite o CEP"
                          required ng-required="true" ng-pattern="/^\d{5}-\d{3}$/">

                      </div>
                      <div class="col-5">
                          <label class="for">Estado</label>
                          <input [(ngModel)]="cadastro.uf" name= "uf" class="form-control input" id="uf" size="2"  placeholder="*Estado" required >

                      </div>
                      <div class="col-7">
                          <label class="for">Cidade</label>
                          <input [(ngModel)]="cadastro.cidade" name="cidade" id="cidade" size="40" type="text" class="form-control input" id="cidade" size="40" ng-model="cadastro.cidade"
                          required ng-required="true" placeholder="*Cidade">
                      </div>
                      <div class="col-12">
                          <label class="for">Endereço</label>
                          <input [(ngModel)]="cadastro.endereco" name="rua" id="rua" size="60" type="text" class="form-control input" id="rua" size="60" ng-model="cadastro.bairro"
                          required ng-required="true" placeholder="*Endereço">
                      </div>
                  </div>
                  <br>
              </form>

              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="goBack()">Cancelar</button>
                  <button type="button" class="btn btn-outline-success" (click)="save()" >Salvar</button>
              </div>
          </div>
          <app-messages></app-messages>
      </div>
  </div>
</div>