
<main role="main" class="col-md-9 ml-sm-auto bg-dark col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 id="h1">{{ title }}</h1>
  </div>
  <div class="table-responsive">
    <br>
      <table  class="table table-striped table-dark table-sm">
          <thead>
              <tr>
                 
                  <th>Nome</th>
                  <th>
                      <a href="" >
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-409-sort-by-attributes.png">
                      </a> Bairro</th>
                  <th>
                      <a href="" >
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-404-sorting.png">
                      </a> Cidade</th>
                  <th>
                      <a href="" >
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-404-sorting.png">
                      </a> Estado</th>
                  <th></th>
              </tr>

          </thead>
          <tbody>
              <tr *ngFor=" let cadastro of cadastro">
                  
                  <td>{{cadastro.nome}}</td>
                  <td>{{cadastro.bairro}}</td>
                  <td>{{cadastro.cidade}}</td>
                  <td>{{cadastro.uf}}</td>
                  <td class="delete" title="delete cadastro"
                  (click)="delete(cadastro)">
        
                    <img src="assets/glyphicons/glyphicons/png/glyphicons-17-bin.png">
            
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
      <button type="button" data-toggle="modal" data-target="#Cliente" class="btn btn-outline-success">+ Incluir</button>
     <!-- <button class="btn btn-outline-danger" ng-click="apagarCadastros(cadastros)" ng-if="isCadastroSelecionado(cadastros)">- Excluir</button>
     
          <a href="/login">
              <button type="button" class="btn btn-outline-success">+ Incluir</button>
          </a>-->
          
   
</main>
<!--=========================================Modal=====================-->
    <div>
        <app-client-form></app-client-form>  
    </div>

