
<main role="main" class="col-md-9 ml-sm-auto bg-dark col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 id="h1">Cadastro</h1>
  </div>
  <div class="table-responsive">
      <input class="form-control bg-dark" id="busca" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
      <br>
      <table ng-show="cadastros.length > 0" class="table table-striped table-dark table-sm">
          <thead>
              <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>
                      <a href="" ng-click="ordenarPor('nome')">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-409-sort-by-attributes.png">
                      </a> Bairro</th>
                  <th>
                      <a href="" ng-click="ordenarPor('cidade')">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-404-sorting.png">
                      </a> Cidade</th>
                  <th>
                      <a href="" ng-click="ordenarPor('uf')">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-404-sorting.png">
                      </a> Estado</th>
                  <th></th>
              </tr>

          </thead>
          <tbody>
              <tr *ngFor=" let cadastro of cadastro" >
                  <td>
                     
                          <input type="checkbox" ng-model="cadastro.selecionado"/>
                         
                  </td>
                  <td>{{cadastro.nome}}</td>
                  <td>{{cadastro.bairro}}</td>
                  <td>{{cadastro.cidade}}</td>
                  <td>{{cadastro.uf}}</td>
                  <td>
                      
                          <a href="" data-toggle="modal" data-target="#edit" (click)="onSelect(cadastro)">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-31-pencil.png">
                          </a>
                      
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
      <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-outline-success">+ Incluir</button>
     <!-- <button class="btn btn-outline-danger" ng-click="apagarCadastros(cadastros)" ng-if="isCadastroSelecionado(cadastros)">- Excluir</button>
     
          <a href="/login">
              <button type="button" class="btn btn-outline-success">+ Incluir</button>
          </a>-->
         
</main>
<!--=========================================Modal=====================-->

<div class="modal fade bd-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="white" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-sm-12 ">Cadastro</h1>
            </div>
            <div class="modal-body">
                <form name="cadastroForm" method="get" action=".">
                    <div class="row">
                        <div class="col-8">
                            <label class="for">Nome</label>
                            <input #cadastroName name="nome" id="nome" type="text" class="form-control" required  ng-minlength="5"
                                placeholder="*Nome">
                        </div>
                        <div class="col-4">
                            <label class="for">CEP</label>
                            <input #cadastroCep name="cep" id="cep" value="" size="10" maxlength="9" class="form-control" type="text" placeholder="*Digite o CEP"
                            required ng-required="true" ng-pattern="/^\d{5}-\d{3}$/">
  
                        </div>
                        <div class="col-5">
                            <label class="for">Estado</label>
                            <input #cadastroUf name= "uf" class="form-control input" id="uf" size="2"  placeholder="*Estado" required >
  
                        </div>
                        <div class="col-7">
                            <label class="for">Cidade</label>
                            <input #cadastroCidade name="cidade" id="cidade" size="40" type="text" class="form-control input" id="cidade" size="40" ng-model="cadastro.cidade"
                            required ng-required="true" placeholder="*Cidade">
                        </div>
                        <div class="col-12">
                            <label class="for">Endereço</label>
                            <input #cadastroEndereco name="rua" id="rua" size="60" type="text" class="form-control input" id="rua" size="60" ng-model="cadastro.bairro"
                            required ng-required="true" placeholder="*Endereço">
                        </div>
                    </div>
                    <br>
                </form>
                <div ng-show="cadastroForm.nome.$error.required && cadastroForm.nome.$dirty" ng-messages="cadastroForm.nome.$error" class="alert alert-danger">
                    <div ng-message="required">
                        Por favor, preencha o campo Nome!
                    </div>
                    <div ng-message="minlength">
                        O campo nome deve ter no mínimo 5 caracteres.
                    </div>
                </div>
                <div ng-show="cadastroForm.rua.$error.required && cadastroForm.rua.$dirty" class="alert alert-danger">
                    <div ng-message="required">
                        Por favor, preencha o campo Endereço!
                    </div>
                </div>
                <div ng-show="cadastroForm.cep.$error.required && cadastroForm.cep.$dirty" class="alert alert-danger">
                    <div ng-message="required">
                        Por favor, preencha o campo CEP!
                    </div>
                </div>
                <div ng-show="cadastroForm.cep.$error.pattern" class="alert alert-danger">
                    <div ng-message="required">
                        O campo CEP deve ter o formato 99999-999.
                    </div>
                </div>
                <div ng-show="cadastroForm.cidade.$error.required && cadastroForm.cidade.$dirty" class="alert alert-danger">
                    <div ng-message="required">
                        Por favor, preencha o campo Cidade!
                    </div>
                </div>
                <div ng-show="cadastroForm.uf.$error.required && cadastroForm.uf.$dirty" ng-messages="cadastroForm.uf.$error" class="alert alert-danger">
                    <div ng-message="required">
                        Por favor, preencha o campo Estado!
                    </div>
                </div>
  
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline-success" (click)="add(cadastroName.value); cadastroName.value=''" ng-disabled="cadastroForm.$invalid">Salvar</button>
                </div>
                <label class="small" id="aviso">
                       OBS: Por favor, preencha todos os campos requeridos (*) pois pode ser que haja divergências nos dados da busca CEP.
                 </label>
            </div>
            
        </div>
    </div>
  </div>
  