
<main role="main" class="col-md-9 ml-sm-auto bg-dark col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 id="h1">Cadastro</h1>
  </div>
  <div class="table-responsive">
      <input class="form-control bg-dark" id="busca" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
      <br>
      <table ng-show="cadastros.length > 0" class="table table-striped table-dark table-sm">
          <thead>
              <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>
                      <a href="" ng-click="ordenarPor('nome')">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-409-sort-by-attributes.png">
                      </a> Bairro</th>
                  <th>
                      <a href="" ng-click="ordenarPor('cidade')">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-404-sorting.png">
                      </a> Cidade</th>
                  <th>
                      <a href="" ng-click="ordenarPor('uf')">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-404-sorting.png">
                      </a> Estado</th>
                  <th></th>
              </tr>

          </thead>
          <tbody>
              <tr *ngFor=" let cadastro of cadastro" (click)="onSelect(cadastro)">
                  <td>
                     
                          <input type="checkbox" ng-model="cadastro.selecionado"/>
                         
                  </td>
                  <td>{{cadastro.nome}}</td>
                  <td>{{cadastro.bairro}}</td>
                  <td>{{cadastro.cidade}}</td>
                  <td>{{cadastro.uf}}</td>
                  <td>
                      
                          <a href="" data-toggle="modal" data-target="#edit" ng-click="edit(cadastro, $index)">
                          <img src="assets/glyphicons/glyphicons/png/glyphicons-31-pencil.png">
                          </a>
                      
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
      <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-outline-success">+ Incluir</button>
     <!-- <button class="btn btn-outline-danger" ng-click="apagarCadastros(cadastros)" ng-if="isCadastroSelecionado(cadastros)">- Excluir</button>
     
          <a href="/login">
              <button type="button" class="btn btn-outline-success">+ Incluir</button>
          </a>-->
         
</main>